
.dialog-footer {
    display: flex;
    justify-content: flex-end;
}

.el-header {
    --el-header-padding: 0px;
    --el-header-height: 35px;
}

.el-main {
    --el-main-padding: 0px;
}

.el-footer {
    --el-footer-padding: 0px;
    --el-footer-height: 30px;
}

.el-card {
    --el-card-padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

/* New Layout Styles */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.el-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.empty-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
}
